<style>
*{
	box-sizing: border-box;
}

h1{
	margin-bottom: 15px; 
	text-align: center;
}

body{
	display: block;
	margin: 8px;
}
.row{
 	width: 100%;
}

section div{
	position: absolute;
	border: 1px solid black;
	right: 0px;
	top: -1px;
	padding: 5px;
	color: black;	
}

.section-title1{
	background: coral; 
	font-weight: bold;

}
.section-title2{
	background: darkorange; 
	font-weight: bold;
}
.section-title3{
	background: brown;
	font-weight: bold; 
}

section{
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	margin-top: 20px;
	font-size: 0.8em;
	width: 90%; 
	color: darkcyan;
	font-family: "Comic Sans MS"; 
}
@media(min-width:992px){
	.col-lg-4{
		position: relative;
		float: left;
		border: 1px solid black;
		margin: 10px;
		background-color: bisque;
	}
 
	.col-lg-4{
		width: 30%;
	}
}

@media(min-width: 768px) and (max-width: 991px){
 	.col-md-2, .col-md-1{
 		float: left;
 		border: 1px solid black;
 		margin: 10px;
 		position: relative;
 		background-color: bisque;
 	}
 
 	.col-md-2{
 		width: 45%;
 	}
 	.col-md-1{
 		width: 93%;
 	}
}

@media(max-width: 767px){
 	.col-sm-1{
 		float: left;
 		border: 1px solid black;
 		margin: 10px;
 		position: relative;
 		background-color: bisque;
 	}	
}

</style>
